<?php

// -----------------------------------------------------------------------------
// Site title
$title = "EcmGui";
// The full gui url
$siteUrl = "[http://www.example.com/monero]";
// Which template to use : muste be a folder name in /template/
$template = "default";

// -----------------------------------------------------------------------------
// Netgear Arlo wireless security camera
$arlo = false;
$arloUsername = "[you@example.com]";
$arloPassword = "[YourStrongPassword]";

// -----------------------------------------------------------------------------
// Belkin Wemo switch 
$wemo = false;
// The id must be register on the network (must ping)
$wemoSwitch = array(
    "[idSwitchOne]" => "[friendlyNameOne]",
    "[idSwitchTwo]" => "[friendlyNameTwo]",
);

// -----------------------------------------------------------------------------
// Monero rigs
$monero = true;
$moneroCurrencyLong = 'monero';
$moneroCurrencyShort = 'xmr';
$moneroWallet = '[yourWalletAddress]';
$moneroWalletAmount = 0.0000000;
$moneroSpeedUnit = 'H/s';
$moneroPoolBalanceApi = "https://api.nanopool.org/v1/$moneroCurrencyShort/balance/$moneroWallet";
$moneroPoolWorkerApi = "https://api.nanopool.org/v1/$moneroCurrencyShort/workers/$moneroWallet";
$moneroMachines = array(
    // rig name register on the network (must ping) or IP" => "xmr-stak gui port",
    "[xmrstak1]" => "[8080]",
    "[xmrstak2]" => "[8080]",
    "[xmrstak3]" => "[8080]",
);
$moneroMachinesAmp = array(
    // rig amps for display OPTIONAL
    "[xmrstak1]" => 1.85,
    "[xmrstak2]" => 2.90,
    "[xmrstak3]" => null,
);
$moneroMachinesInsight = array(
    // rig wemo insight plug name (must ping)
    "[xmrstak1]" => "[wemo-xmrstak1]",
    "[xmrstak2]" => "[wemo-xmrstak2]",
    "[xmrstak3]" => "[wemo-xmrstak3]",
);

// -----------------------------------------------------------------------------
// SSH
$sshUser = "[yourUserName]";
$sshKeyPub = "[absolutePath]/ssh/id_rsa.pub";
$sshKeyPriv = "[absolutePath]/ssh/id_rsa";

// -----------------------------------------------------------------------------
// Power cost by kWh
$powerCost = 0.14;